<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kaxaml.Plugins.XamlScrubber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XamlScrubberPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kaxaml.Plugins.XamlScrubber.Properties.Settings>
            <setting name="AttributeCounteTolerance" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ReorderAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReducePrecision" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Precision" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RemoveCommonDefaultValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceLineMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertTabsToSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpaceCount" serializeAs="String">
                <value>3</value>
            </setting>
        </Kaxaml.Plugins.XamlScrubber.Properties.Settings>
        <XamlScrubberPlugin.Properties.Settings>
            <setting name="AttributeCounteTolerance" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ReorderAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReducePrecision" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Precision" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RemoveCommonDefaultValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceLineMin" serializeAs="String">
                <value>True</value>
            </setting>
        </XamlScrubberPlugin.Properties.Settings>
    </userSettings>
</configuration>