<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kaxaml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kaxaml.Properties.Settings>
            <setting name="EnableAutoParse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableErrorColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoParseTimeout" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableAutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertTabsCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoCompleteTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateFileAssociation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WPFSchema" serializeAs="String">
                <value>Schemas\XamlPresentation2006.xsd</value>
            </setting>
            <setting name="EditorFontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableXmlFolding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSyntaxHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCodeCompletion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasteImageFolder" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="PasteImageFile" serializeAs="String">
                <value>Image$number$.jpg</value>
            </setting>
            <setting name="PasteImageXaml" serializeAs="String">
                <value>&lt;Image Source="$source$" Stretch="None" /&gt;</value>
            </setting>
            <setting name="WPFDefaultXaml" serializeAs="String">
                <value>&lt;Page
  xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
  xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"&gt;
  &lt;Grid&gt;  
  
  &lt;/Grid&gt;
&lt;/Page&gt;</value>
            </setting>
            <setting name="EnablePseudoSilverlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgDefaultXaml" serializeAs="String">
                <value>&lt;Grid
  xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation" 
  xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"&gt;

&lt;/Grid&gt;</value>
            </setting>
            <setting name="AgSchema" serializeAs="String">
                <value>Schemas\wpfe.xsd</value>
            </setting>
        </Kaxaml.Properties.Settings>
    </userSettings>
</configuration>